//

@import "./pages/login.scss";
@import "./pages/especies.scss";

body {
    background-color: #71c7ec;
    color: #363636;
    height: 100%;

    nav {
        background-color: #01579b;
        color: #ffffff;

        @media (min-width: 992px) {
            a.brand-logo {
                margin-left: 15px;
            }
        }

        .dropdown-content {
            top: 64px !important;
        
            li {
                background-color: #01579b;
                color: #ffffff;
        
                a {
                    background-color: #01579b;
                    color: #ffffff;
                }
        
                &.divider {
                    background-color: lighten(#01579b, 10%);
                }
        
                &:hover, &.active {
                    background-color: darken(#01579b, 0.1);
                }
            }
        }        
    }

    div.container {
        &.main {
            padding-top: 20px;
        }

        div.row {
            &.content {
                padding: 20px 0;
                background-color: #ffffff;
            }
        }
    }
}

strong {
    font-weight: 600;
    color: #363636;
}

div.message-box {
    width: 85%;
    text-align: center;
    margin: 0 auto !important;

    div.col {
        padding: 5px 0;
        border-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &.error {
            background-color: #ef5350;
            color: #ffffff;
        }

        &.success {
            background-color: #388e3c;
            color: #ffffff;
        }
    }
}

/* Inputs */
/* label color */
.input-field label {
    color: #01579b;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
    color: #01579b;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* valid color */
.input-field input[type="text"].valid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* invalid color */
.input-field input[type="text"].invalid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #01579b;
}
